.container {
  background-color: #ffffff;
  margin: 4px;
  border: solid #cccccc 4px;
}
.footer {
  background-color: #666666;
  border: solid black 10 px;
  bottom: 10%;
}

.footer {
  background: #666666;
}

.jager {
  font-size: 35px;

  color: white;

  background: #4aaaa5;
}
h2 {
  color: #666666;
}

}
h3 {
  color: #4aaaa5;
}
.about {
  color: white;
  background: #4aaaa5;
}
