.number{
    color:#4aaaa5;
    margin: 0px;
    border: solid#dddddd 10px;

}
.Myintro{
  background-color:#ffffff ;
  padding:100px;
  position:relative;

}


#intro{
    border: solid #dddddd 7px; 
    background: #ffffff;
    font-size:x-large;
    color: #777777;
    position: absolute;
    right:0px;
    top: 0px;
   
    width: calc(80vw);
}




.image
{
  position:absolute;
  left:0px;
  top:0px; 
}

.contact{
  position:fixed;
  background:#ffffff;
  width: calc(100vw);
  height:100px;
  border: 5px solid#dddddd;  
  top:145px;
  left:0px;
  position:relative;
}


.text1{
  color:#777777;
  position:absolute;
  left:0;
  top:0;
  font-size:25px;
}

#email{
  font-size:20px;
  background:yellow;
  position:absolute;
  top:55px;
}
#github{
  font-size:20px;
  background:yellow;
  position:absolute;
  top:55px;
  left:33.33%;
}

#linkedin
{
  font-size:20px;
  background:yellow;
  position:absolute;
  top:55px;
  left:66.66%
}

 .title{
     background-color:#ffffff;
 }
 .jack{
    background-color: #cccccc;
    width: calc(100vw/4.5);   
 }
 .detail{
    position: absolute;
    color: #777777;
    width: calc(90vw/2);
    right: 550px;
    bottom: 1px;
 }
 .navigation{
    background-color: #ffffff;
    border: solid #cccccc;
    width: 16vw;
    height:30px;
    position: absolute;
    top: 26px;
    right: 31px;
    color:#777777
 }
 .category{
   color: #777777;
   font-size:25px;
 }
 .info{
   color: #777777;
 }
 h1{
   color:#4aaaa5;
 }
 .footer{
  position:absolute;
  bottom: 0;
  background: #666666;
  columns: #777777;
  width:100vw;
}