.number{
    color: black;
    margin: 0px;
    border: solid green 5px;

}
.Myintro{
  background-color:black; 
  padding:100px;
  position:relative;

}


#intro{
    background: beige;
    
    color: brown;
    position: absolute;
    right:0px;
    top: 0px;
   
    width: calc(80vw);
}


.number1{
  color:blue;
}


.image
{
  position:absolute;
  left:0px;
  top:0px; 
}

.contact{
  position:fixed;
  height:150px;
  background:green;
  width: calc(100vw);
  height:65px;
  border: 5px solid red;  
  top:15px;
  left:0px;
  position:relative;
}


.text1{
  position:absolute;
  left:0;
  top:0;
}




#email{
  background:yellow;
  position:absolute;
  top:45px;
  
  
}
#github{
  background:yellow;
  position:absolute;
  top:45px;
  left:33.33%;
 
  
}

#linkedin
{
  background:yellow;
  position:absolute;
  top:45px;
  left:66.66%
  
  
}


.dream{
  
  position:relative;
  border:solid black 10px;
  top:20px;
  width:calc(100vw/3.5);
  height:300px;
  background:green;
}
.john{
position:absolute;
top:45px;
}

h2{
  color:yellow
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .p{
    color:yellow;
  }

  .basic{
      color:yellow;
      size:20px;
      background-color:green;
  }
 .school{
      background-color: Yellow;
 }
 .skill{
    background-color:red;
    color:yellow;
 }
 .frab{
     color:red;
 }
 .title{
     background-color:black;
 }
 .jack{
    background-color: wheat;
    width: calc(100vw/4.5);
    border: solid black 5px;
 }
 .detail{
    position: absolute;
    color: Wheat;
    width: calc(90vw/2);
    position: absolute;
    right: 550px;
    bottom: 1px;
 }
 .navigation{
    background-color: yellow;
    width: 70vw;
    right: 0px;
    position: absolute;
    top: 26px;
    right: 20px;
 }
 .lego{
     color:green;
     position:relative;
    height: 446px;
    width: 500px;
    background: yellow;
    position: absolute;
    top: 366px;
    right: 511px;
    border: solid black 10px;
 }
 .offroad{
    position:absolute;
    left:35px;
 }
 .ewd{
     position:absolute;
     left:40px;
 }