.top{
background-color:#ffffff;
position:relative;
left:5px;
right:5px;
top:10%;
height:40px;
border: solid #cccccc 5px;

}

.middle{
    background-color:#ffffff;
    
    right:30%;
    left:30%;
    position:absolute;
   
    top:17%;
    height:78%;   
    border: solid #cccccc 15px;
    
}
.footer{
    background-color:#666666;
    border:solid black 10 px;
    bottom:10%;

}
.head{
    background-color:#4aaaa5;
    position: relative;
    top:5%;
    height:80%;
    width:20%;
}
.text{
    position:relative;
    bottom:5px;
    font-size:30px;
}
.navigation{
    position:relative;
    right:20%;
  
    background:#ffffff;
    bottom: 64%;
    left: 81%;
    height: 64%;
    width:13%;
    color:#777777;
   
}    
.category{
    color:#777777;
}
h2{font-size: 15px;
    color: #4aaaa5;

}
.deere{
    
    background:#4aaaa5;
    
}
.p{
    color:white;
}
.john{
    background:beige;
    position: absolute;
    right: 55%;
    bottom: 60%;
    top: 10%;
}
.iwojima{
    background:beige;
    position: absolute;
    left: 55%;
    bottom: 60%;
    top: 10%;
}
.offroad{
    background:beige;
    position: absolute;
    right: 55%;
    bottom: 45%;
    height:40px;
}
.EngrProject{
    background:beige;
    position: absolute;
    left: 55%;
    bottom: 45%;
    height:40px;

}
.footer{
    position:absolute;
    background: #666666;
    columns: #777777;
    left:0;
    bottom:-20px;
    width:100vw;

  }
