.top{
position:absolute;
width:calc(100vw);
height:20%; 
background:#ffffff;
}
.middle{
border:solid #cccccc 15px; 
position:absolute;
left:30%;
right:30%;
top:23%;
height:76%;
background:#ffffff;
}

.inside{
   position:absolute;
   width: 25%;
   height:50%;
   top:20px;
   left:20px; 
   background:#4aaaa5;
}
.head{
    
    color:white;
    font-size:35px;
}
.contact{
    color:white;
    background: #4aaaa5;;
    position:absolute;
    top:20px;
    font-size:70px;
    left:30%;
    right:30%;  
}
.line{
    height:4px;
    background: #cccccc;;
}
.message{
    position:absolute;
    height:30%;
    width:85%;
    left:15px;

}
.button{
    position:absolute;
    left:10%;
    bottom:2%;
    height:50px;
    width:100px;
    color:#777777;
}
.navigation{
    
    background: #4aaaa5;
    position:absolute;
    width:35%;
    height:46%;
    right:15%;
    top:30%;
    font-size:50px;
}
.navi{
    color:white;
}
.input{
    color:#777777;
}
.footer{
    position:absolute;
    bottom: -30px;
    background: #666666;
    columns: #777777;
    width:100vw;
  }